# ==========================================
# File di Build e Output del Progetto
# ==========================================
build/
*.pdf

# ==========================================
# File Ausiliari Generati da pdfpc
# ==========================================
*.pdfpc

# ==========================================
# File di Ambiente Locale (Nix & Direnv)
# ==========================================
.direnv/
.envrc.cache

# ==========================================
# File di Sistema e Cache degli Editor
# ==========================================
.DS_Store
*~
*.swp
*.bak
.vscode/
.idea/
